.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store
*.RDS


# this is OS specific for Cybertron/Local
.Renviron 
*.gz
rclone.sh

# Project specific
00_archive/
azcopy.sh
figures/
references/
resources/
results/
samples/
presentations/
meeting_notes_link.txt
