.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store
*.RDS
.Renviron

# this is OS specific for Cybertron/Local
.Renviron 
*.gz
rclone.sh

# Project specific
azcopy.sh
meeting_notes_link.txt
00_archive/
figures/
references/
resources/
results/
samples/
presentations/

# for symlinks
00_archive
figures
references
resources
results
samples
presentations

